main {
  align-items: center;
}

h1 {
  font: 900 4rem "monospace", "sans-serif";
}

.itemSort,
article {
  width: 100%;
  margin-top: 3.5%;
  /*border: 1px solid red;*/
}
.itemSort ul {
  display: flex;
  justify-content: center;
  /*border: 1px solid yellow;*/
}

.itemSort li {
  margin-right: 3rem;
}

.itemSort ul li a {
  display: block;
  padding: 1.2rem 0;
  font: 600 1.8rem "monospace", "sans-serif";
  letter-spacing: 0.1rem;
}

.current {
  color: red;
  border-bottom: 3px solid red;
}

article {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  width: 100%;
  /*border: 1px solid violet;*/
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section {
  position: relative;
  top: 0;
  left: 0;
  width: 20%;
  min-width: 300px;
  height: 430px;
  margin: 0 0 5% 2.5%;
  background: #ffffff;
  box-shadow: 3px 3px 1px #cccccc;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 5px;
  overflow: hidden;
}

section:hover {
  box-shadow: 5px 5px 5px rgb(168, 168, 168);
  border-width: 2px;
}

section:hover .linkIcon,
section:hover .linkIcon li {
  transform: translateY(0);
}

section img {
  width: 100%;
  height: 200px;
  background-color: beige;
  box-shadow: 0px 1px 3px #cccccc;

  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  height: 230px;
  padding: 1px 10%;
}

h3 {
  margin-top: 5%;
  font: 900 2rem "monospace", "sans-serif";
}

p {
  margin-top: 3%;
  font: 400 1.2rem "monospace", "sans-serif";
}

.appraise {
  margin: auto 0 3%;
  text-align: right;
  font: 400 1rem "monospace", "sans-serif";
  color: #b0b0b0;
}

.info {
  display: flex;
  margin-bottom: 6%;
  /*border: 1px solid red;*/
}

span {
  padding: 0.5rem;
  font: 900 1.5rem "monospace", "sans-serif";
  color: red;
}

.linkIcon {
  position: absolute;
  top: 0;
  width: 100%;
  background: #cccccc7a;
  transform: translateY(-100%);
  transition: transform 0.25s ease-in-out;
}

.linkIcon ul {
  float: right;
}

.linkIcon ul li {
  display: inline-block;
  height: 100%;
  padding: 0.5rem;
  margin-right: 5px;
  transform: translateY(-100%);
}

.linkIcon ul li:nth-of-type(1) {
  transition: transform 0.25s ease-in-out 0.2s;
}

.linkIcon ul li:nth-of-type(2) {
  transition: transform 0.25s ease-in-out 0.25s;
}

.linkIcon ul li a {
  font: 500 2rem "monospace", "sans-serif";
  text-align: center;
  line-height: 24px;
  color: rgb(78, 58, 21);
  /*background: chocolate;*/
}

.linkIcon ._heartIcon {
  color: red;
}

.buy {
  padding: 0.5rem 2rem;
  margin-left: auto;
  font: 600 1.5rem "monospace", "sans-serif";
  background-color: gold;
}
